.starter-text:hover {
    text-decoration: underline;
    color: rgb(127, 138, 255);

    /* prevent select section CSS */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}